@charset "UTF-8";
body{
    background-color: rgb(90, 226, 226);
    font-size: 20px;
}
h1{
    color: brown;
    font-family: 'Times New Roman';
}
h2{
    font-size: 14px;
}
p{
    font-size: 12px;
    text-justify: unset;
}