@charset "UTF-8";

header{
    background-color: rgb(17, 124, 29);
    color: white;
    margin: -21px;
    text-align: center;
    border-radius: 5px;
    padding: 0px;
    
    
}

nav{
    padding: 5px;
    margin:0px;
    background-color: rgb(54, 113, 54);
    text-align: left;
    box-shadow: inset 2px 2px 2px 2px black;
}
.titulos{
    color: white;
    padding: 5px;
}
body{
    background-color: rgba(28, 223, 154, 0.574);
}
main{
    background-color: white;
   
    margin: auto;
}
section{
    background-color:rgba(7, 143, 96, 0.574);
    margin: 20px;
    border-radius: 10px;
}
h3#quer{
    background-color:rgb(46, 144, 46);
    color: white;
}
a{
    color: green;
}h2#ti{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
}
h3{
    background-color: rgb(138, 238, 176);
    color: green;
}
footer{
    background-color: rgb(4, 84, 4);
    color: white;
    padding: 4px;
    margin: auto;
    text-align: center;
}
footer>p{
    margin: auto;
    padding: 0px;
}